node_modules
.pnpm-store
.next
out
build
dist
coverage
.turbo
.git
.gitignore
.env
.env.*
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
playwright-report
blob-report
test-results
.vscode
.DS_Store
*.pem
